h1 {
  text-align: center;
}

.heading-name{
  font-size: 1.25em;
  font-weight: bold;
}

.heading-title {
  font-size: 1em;
  font-weight: bold;
}

.footer-term-end {
  font-size: .75em;
  font-weight: bold;
}
