h1 {
  text-align: center;
}

.legislator-container .heading-name{
  font-size: 1.25em;
  font-weight: bold;
}

.legislator-container .heading-title {
  font-size: 1em;
  font-weight: bold;
}

.legislator-container .footer-term-end {
  font-size: .75em;
  font-weight: bold;
}
